.App {
  max-width: 100%;
  max-height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
}

.map {
  width: 24vw;
  height: 24vh;
  position: relative;
  left: 23vw;
  top: 3vh;
}

.wwf {
  width: 16%;
  position: relative;
  left: 30vw;
  top: 9vh;
}

.arrowIcon {
  width: 5%;
  position: relative;
  bottom: 1vh;
  right: 0.5vw;
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: fill;
}

.rightContainer {
  position: fixed;
  top: 5.56%;
  right: 3.15%;
  color: white;
  border: 5px solid white;
  width: 44.48%;
  height: 87.96%;
}

.leftContainer {
  position: fixed;
  top: 5.56%;
  left: 3.15%;
  background-color: white;
  width: 44.48%;
  height: 88.89%;
  color: black;
}

.textButton {
  position: absolute;
  font-size: 5rem;
  text-align: right;
  bottom: 0.5vh;
  right: 1vw;
  margin: 0;
  line-height: 1;
  font-family: "Montreal Serial Heavy", Arial, sans-serif;
}

.textHeading {
  font-size: 5rem;
  position: relative;
  top: 0.7vh;
  left: 1vw;
  margin: 0;
  max-width: 13ch;
  line-height: 1;
  min-height: 15.74vh;
  font-family: "Montreal Serial Heavy", Arial, sans-serif;
}

.textQuestion {
  font-size: 1.875rem;
  position: relative;
  top: 3vw;
  left: 1vw;
  margin: 0;
  max-width: 35ch;
  line-height: 1.2;
  font-family: "Montreal Serial Heavy", Arial, sans-serif;
  white-space: pre-line;
}

.textAnswer {
  font-size: 1.875rem;
  position: absolute;
  left: 1vw;
  margin: 0;
  bottom: 1.2vh;
  max-width: 45ch;
  line-height: 1.2;
  font-family: "Arial", Arial, sans-serif;
}

.ThumbImage {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
}

.z-Index {
  z-index: 9001;
}

.pageContainer {
  position: relative;
  left: 0;
  bottom: 1084px;
}

.textHeadingFinal {
  font-size: 6rem;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  max-width: 11ch;
  line-height: 1;
  min-height: 15.74vh;
  font-family: "Montreal Serial Heavy", Arial, sans-serif;
  color: #ffffff;
}